.upload-basic .mobile .ant-upload-wrapper {
  width: 300px;
  min-height: 300px;
  padding: 15px 0;
}

.upload-basic .mobile .ant-upload.ant-upload-select {
  width: 100% !important;
  height: 100% !important;
  padding: 0 0 15px;
}

.upload-basic .mobile .ant-upload-list-item {
  width: 300px;
  height: 300px !important;
}

/* ---------------- */

.upload-basic .mobile.multiple-img .ant-upload-wrapper {
  width: 100%;
  min-height: 150px;
  padding: 15px 0;
}

.upload-basic .mobile.multiple-img .ant-upload.ant-upload-select {
  width: 150px !important;
  height: 150px !important;
  padding: 0 0 15px;
}

.upload-basic .mobile.multiple-img .ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
}

.upload-basic .mobile.multiple-img .ant-upload-list-item-container {
  width: 150px !important;
  height: 150px !important;
}

.upload-basic .mobile.multiple-img .ant-upload-list-item {
  width: 150px !important;
  height: 150px !important;
}

/* tablet-pc_screens */

.tablet-pc_screens .ant-upload.ant-upload-select {
  width: 100% !important;
  height: 100% !important;
}

.tablet-pc_screens .ant-upload-list-item.ant-upload-list-item-done {
  width: 400px !important;
  min-height: 400px !important;
}

.tablet-pc_screens .ant-upload-list-item-container {
  width: 400px !important;
  min-height: 400px !important;
}

/* -------------------- */

.tablet-pc_screens.multiple-img .ant-upload.ant-upload-select {
  width: 200px !important;
  height: 200px !important;
}

.tablet-pc_screens.multiple-img .ant-upload-list-item.ant-upload-list-item-done {
  width: 200px !important;
  min-height: 200px !important;
}

.tablet-pc_screens.multiple-img .ant-upload-list-item-container {
  width: 200px !important;
  min-height: 200px !important;
}

.tablet-pc_screens.multiple-img .ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
}